.signUpWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: var(--space-lg);
  box-sizing: border-box;
}

.signUpContainer {
  max-width: 500px;
  width: 100%;
  max-height: 205px;
  border-radius: 16px;
  border: 1px solid var(--color-secondary);
  background-color: #ffffff;
  padding: var(--space-lg);
  box-sizing: border-box;
}

.form {
  margin-bottom: var(--space-md);
  display: flex;
  flex-direction: column;
}

.formButtons {
  display: flex;
  margin-top: var(--space-md);
  justify-content: space-between;
}

.formControl {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-sm);
}

.formControlLabel {
  font-size: var(--space-md);
  font-weight: 400;
  color: #000000;
  margin: 0;
}

.title {
  font-size: 22px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  margin-bottom: var(--space-lg);
}

@media (max-width: 768px) {
  .signUpWrapper {
    padding: var(--space-md);
  }

  .signUpContainer {
    max-width: 100%;
  }

  .title {
    font-size: 18px;
  }
}
